.principal {
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray;
    width: 100%;
  }
  
  .container {
    display: flex;
  }
  
  .imagen {
    flex: 1;
    padding: 10px;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  .detalles {
    flex: 1;
    padding: 10px;
  }
  